// Specific CSS for your home-page


#signup-form {
  width: 50% !important;
}


body {
  height: 100vh;
  background-color: white;
}

#maintitle{
  // padding-top: 100px;
  font-size: 120px;
  // padding-bottom: 20px;
  color: #27b896;
  // background-color: black;
  font-family: 'Noto Serif TC', serif;


  text-shadow: 2px 2px 3px white;
  // margin-left: 400px;

  text-align: center;
  // vertical-align: center;
  // margin-top: 60px;
}

#mainsubtitle{
  // background-color: black;
  font-size: 70px;
  color: black;
  text-align: center;
  // margin-left: 400px;
  // margin-top: 10px;
}

.container-fluid{
   padding: 0;
}


