<div class="banner">
  <div class="searchbar">
  <%= form_tag meals_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "find a meal nearby"
    %>
  <% end %>
  </div>
</div>
