<div class="wrap">
  <div class="container mt-3">
    <div class="row">
    <% @meals.each do |meal| %>

      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="meal-card">
          <div style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">


            <div class="meal-card-content">
              <div class="meal-card-title">
              <h4><%= meal.title %></h4>

              </div>
                <p><%= meal.category %></p>

              <div class="flex">
              <p><i class="fas fa-utensils"></i>
              Price: <%= humanized_money_with_symbol(meal.price) %>
              </p>
              </div>

            </div>


        </div>

      </div>
      </div>
    <% end %>
    </div>
  </div>
</div>




