<h1>Meals#index</h1>

<link href="https://fonts.googleapis.com/css?family=Roboto:300:400:700" rel="stylesheet">
<div class="cards clearfix">
  <div class="card-col-1"></div>
  <div class="card-col-2"></div>
  <div class="card-col-3"></div>
</div>


<div class="container">
  <div class="row">
    <h1>meals</h1>
    <% @meals.each do |meal| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= link_to meal.title, meal_path(meal) %></h3>
            <p><%= meal.category %></p>
            <p>Price: <%= humanized_money_with_symbol(meal.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




