<h1>Meals#index</h1>

<link href="https://fonts.googleapis.com/css?family=Roboto:300:400:700" rel="stylesheet">
<div class="cards clearfix">
  <div class="card-col-1"></div>
  <div class="card-col-2"></div>
  <div class="card-col-3"></div>
</div>



<!-- <p>Amount: <%= humanized_money_with_symbol(meal.price) %></p>
 -->

