.customflexbox{
  display:flex
}

.customitemalignedright{
  text-align:right;
}

.customitemalignedleft{
  text-align:left;
}


.alignedbuttonsbox{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.alignedbuttonsboxcenter{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coloredh1{
text-align: center;
}

.columnalignment{
  display:flex;
  flex-direction: column;
}
