.mediumavatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 10px;
}


.avatarcustomized {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

