.banner_index {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(https://res.cloudinary.com/homeplate/image/upload/v1544196581/stephan-henning-1080244-unsplash.jpg);
  background-position: cover;
}
