.banner_index {
  height: 100vh;
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(#061700, 0.5), rgba(#061700, 0.5)), url("https://res.cloudinary.com/homeplate/image/upload/v1544135285/lukas-blazek-261682-unsplash.jpg");
  background-position: cover;

}
