.buttons-inline{
  display: inline-block;
}

.map-button {
float: left;
width: 100%;
margin-bottom: 5px;
}

.button-show {
  width: 220px;
}


.btn-homepage {
  margin-top: 100px;
  text-color: black;
  text-align: center;
  margin-left: 180px;
  font-size: 30px;
}
.btn-homepage-lg {

  text-color: black;
  text-align: center;
  border-radius: 10%;
  font-size: 30px;
}

.backbtn {
  width: 30%;
  margin-left: 36%;
}

.btn-user-show {
  margin-left: 525px;
}


.inlinebutton {
  display: inline-block;
}

