#carousel-meal-pictures {
  height: 300px;
  width: 300px;
}

#carousel-homepage {
  height: calc(100vh - 70px);
  margin: 0;
}


.carousel-inner {
  height: 100%;
  width: 100%;

}

.carousel-caption-topleft {
  position: relative;
  padding-top: 5px;
  margin-left: 25px;
  color: white;
}

.carousel-caption-topleft-black {
  color: black;
  position: relative;
  padding-top: 5px;
  margin-left: 25px;
  font-weight: strong;
}

