#carousel-meal-pictures {
  height: 300px;
  width: 300px;
}

#carousel-homepage {
  height: calc(100vh - 70px);
  margin-bottom: 0;


}

.carousel-inner {
  height: 100%;
  width: 100%;

}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  }
