#rememberme{
  font-weight: lighter;
  text-transform: lowercase;
}

.form {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

#signup-form{
  margin-top: 58px;
  background-color: white ;
  opacity: .9;
}

.centered-signup{
  margin-left: 45px;
  opacity: .9;
}
.form-actions {
  font-size: 30px;
}

#quantity {
  line-height: 35px !important;
  width: 100px;
  border: 1px solid gray;
}

