// .mapboxgl-popup {
//   max-width: 200px;
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Open Sans', sans-serif;
// }

.cookinfo {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 20px solid #32b796;
  padding: 0px;
}



.avatarcustomizedforpopup{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.map-button {
float: left;
}

.mapboxgl-ctrl {
  margin-right: 550px !important;
}
