.banner {
  height: 100vh;
  margin-top: -70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://res.cloudinary.com/homeplate/image/upload/v1544433959/edgar-castrejon-459824-unsplash.jpg');
  background-position: cover;

}
