.formimage {
  margin-top: 40px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-image: url(https://res.cloudinary.com/homeplate/image/upload/v1544604615/dan-gold-298710-unsplash.jpg);

}

.banner_meal {
  height: 100vh;
  background: url(https://res.cloudinary.com/homeplate/image/upload/v1544195970/brooke-lark-261287-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  // justify-content: space-around;
  // align-items: center;
  // background-image: url(https://res.cloudinary.com/homeplate/image/upload/v1544195970/brooke-lark-261287-unsplash.jpg);
  // background-position: cover;
  // background-repeat: no-repeat center ;
  // height: 100%;
  // width: 100%;
}
.banner_meal-signup {

  background: url(https://res.cloudinary.com/homeplate/image/upload/v1544195970/brooke-lark-261287-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

// .banner_meal-bottom {
//   height: 50vh;
//   margin-top: 150px;
//   background: url(https://res.cloudinary.com/homeplate/image/upload/v1544195970/brooke-lark-261287-unsplash.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   display: flex;
// }
